*{
    margin: 0;
    padding: 0;
}
.container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 400px;
  perspective-origin:center center ;
  transform-style: preserve-3d;
}

.react-logo {
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%;
  border: 10px solid #00d8ff;
  animation: rotate 5s linear infinite;
}

.react-logo,
.react-logo:before,
.react-logo:after {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 70px;
  border-radius: 50%;
  border: 10px solid #00d8ff;
}

.nucleo,
.react-logo,
.react-logo:before,
.react-logo:after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nucleo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #00d8ff;
}

.react-logo:before,
.react-logo:after {
  content: "";
}

.react-logo:after {
  transform: rotate(-57deg);
}

.react-logo:before {
  transform: rotate(57deg);
}

.title {
  font-size: 60px;
  background: #222;
  color: #00d8ff;
  width: 250px;
  margin: 2px auto;
  text-align: center;
}

@keyframes rotate {
  100% {
    transform: rotate(180deg);
  }
}
